/** Only for index.html **/

.site-header {
    color: #fff;
}

.site-header #site-header-brand {
    color: #fff;
}

.site-header .site-header-nav-item {
    color: #000;
}

.site-header a:hover {
    color: #2098d1;
}

.jumbotron {
    background: #c7e8ef;
}

.site-header.site-header-nav-scrolled a {
    color: rgba(0, 0, 0, 0.87);
}

.site-header.site-header-nav-scrolled #site-header-brand {
    color: rgba(0, 0, 0, 0.87) !important;
}

.site-header.site-header-nav-scrolled a:hover {
    color: #111111;
}

.jumbotron .container {
    padding: 0 40px;
}